<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img src="../assets/cleemy.png" class='header-picture' />
  <span>Cleemy</span>
</div>

<!-- Content -->
<div class="content">
  <h2 class='cardTitle'>Mes notes de frais</h2>

  <span class='filterspan'>
    <p>filter par :</p>
    <select [formControl]="filterType">
      <option *ngFor="let type of filterTypes" [value]="type.value" >
        {{type.name}}
      </option> 
    </select>
    <input type='date' [formControl]="filterDate" />
    <span class=filterButtonBar>
      <img src='../assets/check.png' height=25 (click)=getFilter() />
      <img src='../assets/cross.png' height=25 (click)=getItemPage(1) />
    </span>
  </span>

  <div class="card-container">
    <div *ngFor="let data of expensePage; let i=index" class='card' >
      <div class="column"  >
        <h3>{{ data.nature }}</h3>
        <h5>{{ data.comment}}</h5>
      </div>
      <div class="column">
        <div>
          <img src='../assets/trash.png' class='trash' (click)=deleteOneExpense(data.id) />
          <img src='../assets/edit.png' class='edit' (click)=showModalSetExpense(i) />
        </div>
        <div>
          <h4>{{ data.convertedAmount?.amount}} {{ data.convertedAmount?.currency}}</h4>
        </div>
      </div>
    </div>
    <div class='card' (click)=showModalAddExpense()>
      <img src='../assets/plus.png' height='60' />
    </div>
  </div>

  <div class="addmodalhidden">
    <div class="mmodal">
      <div class="mmodal-body">

        <h3>Nouvelle note de frais</h3>
        <form>
          <input name="nature" type='text' placeholder="Intitulé*" [formControl]="nature" required />
          <input name="comment" type='text' placeholder="Commentaire*" [formControl]="comment" required />
          <span>
            <input name="originalAmount" type='number' placeholder="Montant*" [formControl]="originalAmount" required />
              <select [formControl]="originalCurrency" required >
                <option value="" disabled>Devise d'achat*</option>
                <option *ngFor="let currency of currencyList" [value]="currency.value" >
                  {{currency.symbol}}
                </option>    
            </select>
          </span>
          <span id='purchasedOn'>
            <label> Effectué le: *</label>
            <input name="purchasedOn" type='date' placeholder="Effectué le" [formControl]="purchasedOn" required />
          </span>

        </form>
        <span class='modalButtons'> 
          <button (click)=saveExpense() >Enregistrer</button>
          <button (click)=closeModalAddExpense()>Fermer</button>
        </span>
      </div>
    </div>
    <div class="mmodal-background"></div>
  </div>

  <div class="setmodalhidden">
    <div class="mmodal">
      <div class="mmodal-body">

        <h3>Modifier une dépense</h3>
        <form>
          <input name="nature" type='text' placeholder='Intitulé' [formControl]="setNature" value={{setExpense.nature}} required />
          <input name="comment" type='text' placeholder=setExpense.comment [formControl]="setComment" value={{setExpense.comment}} required />
          <span>
            <input name="originalAmount" type='number' placeholder="Montant*" [formControl]="setOriginalAmount" value={{setExpense.originalAmount.amount}} required />
              <select [formControl]="setOriginalCurrency" value={{setExpense.originalAmount.currency}} required >
                <option  disabled>Devise d'achat*</option>
                <option *ngFor="let currency of currencyList" [value]="currency.value" >
                  {{currency.symbol}}
                </option>    
            </select>
          </span>
          <span id='purchasedOn'>
            <label> Effectué le: *</label>
            <input name="purchasedOn" type='date' placeholder="Effectué le" [formControl]="setPurchasedOn"  value={{setExpense.purchasedOn}} required/>
          </span>

        </form>
        <span class='modalButtons'> 
          <button (click)=saveSetExpense() >Enregistrer</button>
          <button (click)=closeModalsetExpense()>Fermer</button>
        </span>
      </div>
    </div>
    <div class="mmodal-background"></div>
  </div>

  <span  class='page'>
    <p *ngFor="let page of numberPages; let i=index" (click)=getItemPage(page) class="numberpage">{{page}}</p>
  </span>

</div>
